*{
    box-sizing: border-box;
    margin: auto;
    font-family: 'Abril Fatface', cursive;
}



main {
    background-color: rgb(235, 228, 232);
    height: 70vh;


}

#page_effect {
    display: flex;
    position: absolute;
    bottom: 50%;
    left: 75%;
    width: 350px;
    height: 200px;
    background-color: white;
    z-index: 8000;
    border-radius: 80px 80px 80px 0;
    box-shadow: 5px 5px 15px 5px #888888a9;
    padding: 0px;
    text-align: center;
    flex-direction: column;
    padding: 10px;

}

.welcome {
    margin-top: 40px;
    align-content: center;
    justify-content: center;
}

.click {
font-family: 'Poiret One', cursive;
}




.screens {
    width: 40%;
    height:70%;
    padding: 60px;
}






.container2,
.face,
.hair,
.curl1,
.curl2,
.nose,
.neck,
.body,
.group,
.fringe,
.eye,
.eye2,
.pupil,
.pupil2,
.mouth {
  position: absolute;
}



.container2 {
      display: flex;
      flex-direction: column;
    /* align-content: center; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: flex-end; */
    height: 80vh;
    background-color: rgb(17, 199, 184);
    margin: 50px;
    justify-content: center;
    box-shadow:5px 5px 8px 5px #888888a9;
    padding: 30px;
}

.profile {
  position: relative;
  width: 200px;
  height: 200px;
  border: 4px solid #FFF;
  overflow: hidden;
  background: #E8E9EB;
  border-radius: 50%;
}

.group {
  left: -12px;
}

.face {
    z-index: 20;
    border-radius: 40px;
    top: 50px;
    left: 70px;
    width: 80px;
    height: 98px;
    background: rgb(247, 206, 188);
}

.hair {
    z-index: 3;
    top: 30px;
    left: 55px;
    width: 115px;
    height: 119px;
    background-color: rgb(54, 38, 38);
    border-radius: 50% 50% 20% 10%;

}

.curl1 {
    z-index: 4;
    top: 90px;
    left: 44px;
    width: 30px;
    height: 50PX;
    background: rgb(54, 38, 38);
    border-radius: 100% 0% 100% 50%;

}

.curl2 {
    z-index: 4;
    top: 90px;
    left: 148px;
    width: 30px;
    height: 50PX;
    background: rgb(54, 38, 38);
    border-radius: 10% 100% 50% 10%;

}



.fringe {
    z-index: 99;
    top: 40px;
    left: 75px;
    width: 80px;
    height: 50PX;
    background: rgb(54, 38, 38);
    border-radius: 30% 50% 0;
}



.eye {
    z-index: 30;
    top: 100px;
    left: 85px;
    /* background-color: rgb(12, 166, 172); */
    border-top: 4px solid black;
    border-radius: 50px 50px 0 0;
    width: 15px;
    height: 15px;
}

.eye2 {
    z-index: 30;
    top: 100px;
    left: 125px;
    border-top: 4px solid black;
    border-radius: 50px 50px 0 0;
    width: 15px;
    height: 15px;
}
/* 
.pupil {
    z-index: 36;
    top: 100px;
    left: 85px;
    border-radius: 50%;
    background-color: white;
    width: 5px;
    height: 5px;

} */

.nose {
  z-index: 20;
  top: 100px;
  left: 107px;
  width: 8px;
  height: 14px;
  background: #DB9B99;
}

.mouth {
  z-index: 20;
  top: 120px;
  left: 97px;
  width: 30px;
  height: 15px;
  border-radius: 0 0 100px 100px;
  background: white;
  overflow: hidden;
}


.neck {
  z-index: 13;
  width: 30px;
  height: 30px;
  background: rgb(247, 206, 188);
  top: 130px;
  left: 97px;
  border-radius: 10%;
}

.body {
    z-index: 10;
    top: 157px;
    left: 60px;
    width: 100px;
    height: 150px;
    background: rgb(243, 157, 145);
    border-radius: 30%;
}

.name {
   display: flex;
   flex-direction: row;
} 

p {
    font-size: 30px; 

}

.icon-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    float: right;
    width: 35%;
    height: 100%;
    padding: 20px;
    border: 2px solid white;
}